.dropdown-arrow::before {
    content: '';
    position: absolute;
    top: -16px;
    right: 12px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #1e3fadea transparent;
}